.tab-pane {
	-fx-background-color: #121b3e;
	-fx-padding: 0 5 10 5;
}

.tab-pane .tab-header-background {
	-fx-background-color: #121b3e;
}

.tab {
	-fx-font-family: verdana;
	-fx-font-weight: bold;
	-fx-background-color: #121b3e;
}

.tab .tab-label{
	-fx-text-fill: #ffffff;
}

.tab:selected .tab-label{
	-fx-text-fill: #7090cb;
}

