#pane{
	-fx-background-color: #121b3e;
}

.tab-pane .tab-header-background{
	-fx-background-color: #121b3e;
}

.tab {
	-fx-font-family: verdana;
	-fx-font-weight: bold;
	-fx-background-color: #121b3e;
}

.tab .tab-label{
	-fx-text-fill: #ffffff;
}

.tab:selected .tab-label{
	-fx-text-fill: #7090cb;
}

#TilePane {
	-fx-background-color: #121b3e;
	-fx-pref-tile-height: 50;
	-fx-pref-tile-width: 200;
	-fx-tile-alignment: top-center;
	-fx-pref-columns: 2;
	-fx-vgap: 5;
}

.button {
	-fx-background-color: #121b3e;
	-fx-text-fill: #ffffff;
	-fx-font-family: verdana;
	-fx-font-weight: bold;
}

.button:hover{
	-fx-text-fill: #7090cb;
}