.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;

}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
    -fx-border-width: 1 1 1 1; -fx-border-color: white white transparent white ;
}
.tab-pane .tab
{
    -fx-background-color: #3c3c3c;


}

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
    -fx-text-fill: #96b946;

}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;

    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #96b946;
}


#TilePane {
    -fx-background-color: #3c3c3c;
    -fx-border-width: 1 2 3 4; -fx-border-color: white ;

}

#GameTab{
    -fx-border-width: 1 2 3 4; -fx-border-color: black black black black ;

}


.menu-bar{
    -fx-background-color: #3c3c3c;
    -fx-border-color:  #3c3c3c;
    -fx-border-width: 2;

}

.menu-bar .label {
    -fx-font-size: 14 pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #dedede;

}


.menu:hover {
    -fx-background-color: #96b946;
}

.menu-item .label{
    -fx-font-size: 14 pt;
    -fx-label-line-length: 8;
    -fx-text-fill: #96b946;
    -fx-background-color: #3c3c3c;
}


.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #96b946;
}

#button-style {
    -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #2f4b8f),
            linear-gradient(#426ab7, #263e75),
            linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 34px;
}
/*
.slider {
    -fx-skin: "com.sun.javafx.scene.control.skin.SliderSkin";
}
*/

.slider .thumb {
    -fx-background-color:
            derive(-fx-color,-36%),
            derive(-fx-color,73%),
            linear-gradient(to bottom, derive(-fx-color,-19%),derive(-fx-color,61%));
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 1.0em; /* makes sure this remains circular */
    -fx-padding: 0.583333em; /* 7 */
}

.slider:focused .thumb {
    -fx-color: -fx-focused-base;
    -fx-background-color:
            -fx-focus-color,
            derive(-fx-color,-36%),
            derive(-fx-color,73%),
            linear-gradient(to bottom, derive(-fx-color,-19%),derive(-fx-color,61%));
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius: 1.0em; /* makes sure this remains circular */
}


/* Uncomment when RT-10521 is fixed.
.slider .thumb:pressed {
    -fx-color: -fx-pressed-base;
}
*/

.slider .track {
    -fx-background-color:
            -fx-shadow-highlight-color,
            derive(-fx-color,-22%),
            linear-gradient(to bottom, derive(-fx-color,-15.5%), derive(-fx-color,34%) 30%, derive(-fx-color,68%));
    -fx-background-insets: 1 0 -1 0, 0, 1;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding: 0.208333em; /* 2.5 */
}

.slider:vertical .track {
    -fx-background-color:
            -fx-shadow-highlight-color,
            derive(-fx-color,-22%),
            linear-gradient(to right, derive(-fx-color,-15.5%), derive(-fx-color,34%) 30%, derive(-fx-color,68%));
    -fx-background-insets: 0 -1 0 1, 0, 1;
}

.slider .axis {
    -fx-tick-mark-stroke: ladder(-fx-background, derive(-fx-background,30%) 40%, derive(-fx-background,-30%) 41%);
    -fx-tick-label-font: 0.833333em System;
    -fx-tick-label-fill: -fx-text-background-color;
}

.slider:disabled {
    -fx-opacity: -fx-disabled-opacity;
}
